{% extends "base.html" %}
{% block title %}All Apply{% endblock %}
{% block content%}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header"><h4>审批列表</h4></div>
                <table class="table table-hover table-bordered" style="white-space:nowrap">
                    <tr>
                        <th>ID</th>
                        <th>项目名</th>
                        <th>审批状态ID</th>
                        <th>审批状态</th>
                        <th>申请人</th>
                        <th>学院审批单位</th>
                        <th>导师</th>
                        <th>学院</th>
                        <th>学校</th>
                    </tr>
        {% if apply %}
            {% for i in apply %}
                    <tr>
                        <td> {{ i.id }} </td>
{#                        <td>#}
{#                            {{ url }} = {{ url_for('uploads/'+i.user.number +'/'+'1', filename=i.file_hash) }}#}
{#                            <a href="{{ url }}"> {{ i.name }} </a>#}
{#                        </td>#}
                        <td> {{ i.name }} </td>
                        <td> {{ i.status_id }} </td>
                        <td> {{ i.status.name }} </td>
                        <td> {{ i.user.name }} </td>
                        <td> {{ i.user.dept.name }} </td>
                        <td> {{ i.teacher.name }} </td>
                        <td> {{ i.college.name }} </td>
                        <td> {{ i.school.name }} </td>
                    </tr>
            {% endfor %}
        {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
