{% extends "base.html" %}
{% block title %}My Apply{% endblock %}
{% block content%}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header"><h4>我的申请</h4></div>
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>项目名</th>
                        <th>审批状态</th>
                        <th>申请人</th>
                        <th>学院审批单位</th>
                        <th>导师</th>
                        <th>学院</th>
                        <th>学校</th>
                    </tr>
        {% if my_apply %}
            {% for i in my_apply %}
                    <tr>
                        <td> {{ i.id }} </td>
                        <td><a href="{{ url_for('user.my_apply_id',id=i.id) }}"> {{ i.name }} </a></td>
                        <td> {{ i.status.name }} </td>
                        <td> {{ i.user.name }} </td>
                        <td> {{ i.user.dept.name }} </td>
                        <td> {{ i.teacher.name }} </td>
                        <td> {{ i.college.name }} </td>
                        <td> {{ i.school.name }} </td>
                    </tr>
            {% endfor %}
        {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}