{% extends "base.html" %}
{% block title %}School Apply{% endblock %}
{% block content%}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header"><h4>待审批</h4></div>
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>项目名</th>
                    <th>审批状态</th>
                    <th>申请人</th>
                    <th>文件</th>
                    <th>导师</th>
                    <th>学院</th>
                    <th>学校</th>
                    <th>审批操作</th>
                </tr>
    {% if school_apply %}
        {% for i in school_apply %}
                <tr>
                    <td> {{ i.id }} </td>
                    <td> {{ i.name }} </td>
                    <td> {{ i.status.name }} </td>
                    <td> {{ i.user.name }} </td>
                    <td> {{ i.last_time or '' }} </td>
                    <td> {{ i.teacher.name }} </td>
                    <td> {{ i.college.name }} </td>
                    <td> {{ i.school.name }} </td>
                    <form action="" method="POST">
                        {{ form.csrf_token() }}
                        <td><button type="submit" class="btn btn-success" name="id" value="{{ i.id }}">通过</button></td>
                    </form>
                </tr>
        {% endfor %}
    {% endif %}
</table>
        </div>
    </div>
</div>
{% endblock %}